#canvas {
    width: 480px; height: 480px;
}
#gameOver
{
    font-size: 50px;
    color: blue;
}
.newGame {
    background-color: #e41d17;
    text-align: center;
    line-height: 10px;
    outline-width: 10px;
    border-radius: 3px;
    width: 460px;
    height: 10px;
    padding: 10px;
    font-size: 20px;
}
.newGame:hover {
    background-color: #00ff00;
    border-color: black;
    cursor: pointer;
    width: 460px;
}

